.center-content{
display: flex 50px; 
padding: 10px;
margin: auto;

    
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body, ul, li {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    justify-content: center;
    list-style: none;
}

#footer1 {
    background-color:#008CBA ;
    padding: 120px;
}

.foot{
    background-color: white; 
    padding: 15px; 
    color: black; 
    text-align: center;
}

.header1 {
    height: 550px;
    width: 100%;
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay to reduce brightness */
    
}

.h {
    position: absolute;
    z-index: 2; /* Place text above the overlay */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
   
}

.h h1{
    font-size: 3em;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.h p{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #008CBA; /* Button background */
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #005f73; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

header {
    background-color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    margin-right: 20px;
    max-width: auto;
    height: 90px;
}

.navbar a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar a:hover {
    color: green;
}

.icons {
    justify-content: flex-end;
    left: 250px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.icons img {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    gap: 10px;
}

.h1 {
    position: relative;
    left: 630px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

img {
    width: 120px; 
    height: 120px; 
    border-radius: 60%; 
    object-fit: cover;
    margin-right: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#about, #services, #expert, #contact {
    margin: 0;
    padding: 60px;
}

#about {
    background:whitesmoke
    

}

#services {
    background:white
    
}

#expert {
    background: whitesmoke
}

#contact {
    background: white
}